<div id="dashboard-container" class="oj-hybrid-padding">
  <h1>Dashboard module</h1>
  <h5>current id: <oj-bind-text value="[[getCurrentId()]]"></oj-bind-text>
  </h5>
  <oj-button id='button1' on-oj-action='[[clickEvent]]'>Click the button!</oj-button>
  <oj-bind-for-each data="[[dataProvider]]">
    <template>
      <li class="oj-flex oj-sm-align-items-center">
        <oj-bind-text value="[[$current.data.id]]"></oj-bind-text>.-
        <oj-bind-text value="[[$current.data.value]]"></oj-bind-text>
      </li>
    </template>
    <template slot="noData">
      <div class="oj-typography-body-md oj-typography-bold oj-sm-padding-2x-top">No Users to display</div>
    </template>
  </oj-bind-for-each>
  </ul>
</div>